ul {
    background-color: green;
    border: 3px solid black;
    margin: 5px;
    text-align: center;
    list-style: none;
}

ul li {
    display: inline-block;
    background-color: chocolate;
    padding: 5px;
    font-size: 20px;
    width: 200px;
    color: #fff;
}

ul li:hover {
    background: red;
    color: black;
}

ul li ul {
    position: absolute;
    display: none;
}
ul li:hover ul {
    display: block;
}

ul li ul li {
    display: block;
    background-color: chocolate;
    border: 2px solid black;
}
